@media only screen and (max-width: 1376px) {

	/*-- Header --*/

	.header .col-1 {
	    width: 16%;
	}

	.header .col-2 {
	    width: 63%;
	}

	.logo-link {
	    max-width: 120px;
	}

	ul.main-nav li a {
	    padding: 2px 10px;
	    font-size: 17px;
	    line-height: 24px;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	ul.main-nav li a {
	    padding: 2px 10px;
	    font-size: 15px;
	}

	/*-- /Header --*/

	/*-- Time table --*/

	.table-header h3 {
	    font-size: 16px;
	    line-height: 18px;
	}

	.table-row .cell .time {
	    font-size: 14px;
	    line-height: 18px;
	}

	.table-row .cell .class-name {
	    font-size: 14px;
	    line-height: 19px;
	}

	.table-row .cell .teacher {
	    font-size: 14px;
	    line-height: 20px;
	}

	.table-row .cell {
	    padding: 10px 1% 13px 1%;
	}

	/*-- /Time table --*/

	/*-- Blog-Inside Section 1 --*/

	.two-cols-templ .left {
	    width: 100%;
	    float: none;
	}

	/*-- /Blog-Inside Section 1 --*/

	/*-- Blog-Inside Section 2 --*/

	.two-cols-templ .right {
	    width: 100%;
	    float: none;
	    padding: 30px 0;
	}

	.two-cols-templ .article-miniature {
		display: inline-block;
		vertical-align: top;
	    width: 46%;
	    margin: 20px 1%;
	}

	/*-- /Blog-Inside Section 2 --*/

}

@media only screen and (max-width: 900px) {

	h1 {
		font-size: 72px;
		line-height: 97px;
	}

	/*-- Header --*/

	.header {
		position: fixed;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0px 4px 9px 0px rgba(241, 42, 20, .5);
		-moz-box-shadow: 0px 4px 9px 0px rgba(241, 42, 20, .5);
		box-shadow: 0px 4px 9px 0px rgba(241, 42, 20 , .5);
	}

	.header .col-1 {
	    width: 26%;
	}

	.header .col-3 {
	    width: 26%;
	}

	.header .col-4 {
	    width: 8%;
	    right: 1%;
	}

	.respmenubtn-box {
	    display: inline-block;
	    vertical-align: middle;
	}

	.header .main-nav-sect {
		display: none;
		height: 100%;
		width: 120% !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 35px 20% 20px 0;
		background: rgba(0, 0, 0, .8);
		overflow-y: scroll;
	}

	ul.main-nav {
		width: 100%;
	}

	ul.main-nav li {
		display: block;
		width: 100%;
		min-height: auto;
		margin-bottom: 0;
	}

	ul.main-nav li a {
		display: block;
		width: 100%;
		font-size: 20px;
	    line-height: 24px;
	    padding: 9px 2%;
	    text-transform: uppercase;
	}

	ul.main-nav li a:hover {
	    background: rgba(255, 255, 255, 1);
	    color: #f6390e;
	}

	ul.main-nav li a:hover:before {
	    opacity: 0;
	}

	ul.main-nav li a span.tr {
		display: none !important;
	}

	.switch-lang {
	    min-height: 60px;
	}

	/*-- /Header --*/

	/*-- Class Inside Section 1 --*/

	.classes_slider .img-box {
		height: 400px;
	}

/*	.classes_slider .img-box img {
	    width: auto;
	    height: 100%;
	}*/

	.class-promo + .section {
	    padding: 135px 0 20px 0;
	}

	/*-- /Class Inside Section 1 --*/

	/*-- Contacts Section 1 --*/

	.contacts-content {
	    width: 50%;
	    padding: 30px 0 0 0;
	}

	.contacts-list li {
	    margin: 12px 0;
	}

	.contacts-list li a {
	    font-size: 20px;
	    line-height: 24px;
	}

	.contacts-list li p.p-1 {
		font-size: 20px;
	    line-height: 24px;
	}

	.contacts-list li p {
	    font-size: 12px;
	    line-height: 20px;
	}

	/*-- /Contacts Section 1 --*/

	/*-- Footer --*/

	.footer .col-1,
	.footer .col-2,
	.footer .col-3 {
    	width: 100%;
	    text-align: center;
	}

}


@media only screen and (max-width: 768px) {


	/*-- Main Page Section 5 --*/

	.bodylab-thumbnails .thumbnail {
	    width: 50%;
	}

	/*-- /Main Page Section 5 --*/

	/*-- Main Page Section 6 --*/

	.cards-thumbnails .thumbnail {
	    width: 50%;
	    margin: 20px 0 93px 0;
	}

	.card-img-block {
	    height: 140px;
	}

	.close-card-popup {
	    top: 9px;
	}

	.card-popup-header {
	    padding: 10px 30px 15px 0;
	}

	.card-popup-header h2 {
	    font-size: 25px;
	    line-height: 27px;
	}

	.close-card-popup {
	    width: 29px;
	    height: 29px;
	    font-size: 29px;
	    line-height: 29px;
	}

	.card-table-row .cell h3 {
	    font-size: 17px;
	    line-height: 21px;
	}

	.card-table-row .cell p {
	    font-size: 16px;
	    line-height: 34px;
	}

	.cards-slider .slick-arrow {
	    top: 87%;
	}

	/*-- /Main Page Section 6 --*/

	/*-- Time table Section --*/

	.table-header h3 {
	    font-size: 13px;
	    line-height: 14px;
	}

	.table-row .cell .time {
	    font-size: 12px;
	    line-height: 18px;
	}

	.table-row .cell .teacher {
	    font-size: 13px;
	    line-height: 16px;
	}

	/*-- /Time table Section --*/

	/*-- Blog Section 1 --*/

	.article {
	    padding: 0 0 10px 0;
	}

	.article .img-box {
		width: 100%;
	    position: relative;
	}

	.article  .col-right {
	    width: 100%;
	    padding: 10px 2%;
	}

	/*-- /Blog Section 1 --*/

	/*-- Blog-Inside Section 2 --*/

	.two-cols-templ h2 {
	    text-align: center;
	}

	.two-cols-templ .article-miniature {
		display: block;
	    width: 90%;
	    margin: 20px auto;
	}

	/*-- /Blog-Inside Section 2 --*/

	/*-- Team Slider --*/

	.team-slider-box {
	    padding: 35px 0 0 0;
	}

	.team-slider {
	    min-height: auto;
	    height: auto !important;
	}

	.team-slider .slide {
	    min-height: auto;
	}

	.team-slider .teacher-photo-block {
	    display: none;
	}

	.slide-header:before {
		display: none;
	}

	.slide-header .inner {
		width: 100%;
	}

	.slide-header .inner {
	    padding: 45px 1% 20px 1%;
	    text-align: center;
	}

	.slide-header h2 {
		font-size: 40px;
		line-height: 45px;
	    text-align: center;
	}

	.slide-header p {
	    font-size: 15px;
	    line-height: 26px;
	}

	.slide-descript:before {
		display: none;
	}

	.slide-descript .inner {
	    width: 100%;
	}

	.slide-descript h3 {
	    font-size: 21px;
	}

	/*-- /Team Slider --*/

}

@media only screen and (max-width: 600px) {

	.orange-light-bottom:after {
	    bottom: -130px;
	}

	/*-- Header --*/

	.header-row {
	    padding: 5px 8% 5px 2%;
	}

	.logo-link {
	    max-width: 100px;
	}

	.respmenubtn-box {
	    width: 24%;
	}

	.header .col-1 {
	    width: 34%;
	}

	.header .col-3 {
	    width: 40%;
	}

	.header .col-4 {
	    width: 10%;
	    right: 1%;
	}

	.switch-lang {
	    min-height: 50px;
	}

	.switch-lang li:nth-child(1) a span {
	    bottom: -5px;
	}

	.switch-lang li:nth-child(2) a span {
	    top: -5px;
	}

	/*-- /Header --*/

		/*-- Header --*/

	.header-row {
	    padding: 3px 35% 3px 2%;
	}

	.header .col-1 {
	    width: 57%;
	}

	.respmenubtn-box {
	    width: 23%;
	}

	.header .col-3 {
	    display: none;
	}

	.respmenubtn-box {
	    width: 39%;
	}

	.header .col-4 {
	    width: 35%;
	    right: 2%;
	}

	/*-- /Header --*/

	/*-- Promo Slider --*/

	.promo-slider-box {
	    height: 100vh;
	}

	.promo-slider .slide {
	    height: 100vh;
	}

	.center-block .play-btn {
	    width: 63px;
	    height: 63px;
	    margin: 10px auto;
	}

	.center-block h2 {
	    font-size: 24px;
	    line-height: 39px;
	    padding: 17px 0;
	}

	/*-- /Promo Slider --*/


	/*-- Tabs --*/

	.tabs.top-minus {
	     top: 0; 
	     margin-bottom: 0; 
	}

	.tab-nav li .tab-link {
	    padding: 8px 13px;
	    font-size: 15px;
	    line-height: 19px;
	}

	/*-- /Tabs --*/

	/*-- Class Inside Section 2 --*/

	.teachers-thumbnails .teacher-thumbnail {
	    margin: 10px 0;
	}

	/*-- /Class Inside Section 2 --*/

	/*-- Contacts Section 1 --*/

	.map-section .map-box {
	    display: block;
	    width: 100%;
	    height: 440px;
	    position: relative;
	}

	.contacts-content {
		display: block;
	    width: 98%;
	    max-width: auto;
	    margin: 0 auto;
	    padding: 10px 0 0 0;
	}

	/*-- /Contacts Section 1 --*/


}




@media only screen and (max-width: 480px) {

	h1 {
	    font-size: 58px;
	    line-height: 87px;
	}

	h2 {
	    font-size: 42px;
	    line-height: 44px;
	}

	.slick-arrow {
	    width: 60px;
	}

	/*-- Tabs --*/

	.classes-thumbnails.thumb-380 .thumbnail {
	    width: 98%;
	}

	/*-- /Tabs --*/

	/*-- Contacts Form --*/

	.contact-form .input-block {
	    width: 96%;
	}

	.contact-form .sumbmit-block {
	    width: 96%;
	}

	.contact-form .sumbmit-block .submit-btn {
	    width: 100%;
	}

	/*-- /Contacts Form --*/


	/*-- Main Page Section 5 --*/

	.bodylab-thumbnails .thumbnail {
		display: block;
	    width: 90%;
	    margin: 0 auto;
	}

	/*-- /Main Page Section 5 --*/

	/*-- Main Page Section 6 --*/

	.cards-thumbnails .thumbnail {
		display: block;
	    width: 90%;
	    margin: 90px auto 80px auto;
	}

	.card-content {
	    padding: 16px 1%;
	}

	.card-table-row .cell h3 {
	    font-size: 11px;
	    line-height: 14px;
	}

	.card-table-row .cell p {
	    font-size: 14px;
	    line-height: 28px;
	}

	/*-- /Main Page Section 6 --*/

	/*-- Blog Section 2 --*/

	.two-cols-templ .right {
	    padding: 30px 0 10px 0;
	}

	.two-cols-templ .article-miniature {
	    width: 98%;
	}

	/*-- /Blog Section 2 --*/

	/*-- Class Inside Section 1 --*/

	.classes_slider .img-box {
	    height: 320px;
	}

	.classes_slider .slick-arrow {
	    top: 250px;
	}

	.classes_slider .slide-descript p {
	    font-size: 14px;
	    line-height: 22px;
	}

	/*-- /Class Inside Section 1 --*/

}


@media only screen and (min-width: 901px) {

	/*-- Header --*/

	.header .main-nav-sect {
		display: inline-block !important;
		height: auto !important;
	}

	/*-- /Header --*/

}